@media (min-width: 450px) {
  .col-box li {
    width: 366px; }
  .contact-form .flex-box {
    flex-wrap: nowrap; }
  .contact-form .input-holder input {
    width: 48%; } }

@media (max-width: 959px) {
  nav {
    margin-top: 12px; }
    nav:hover .navigation {
      display: block;
      position: absolute;
      top: 100%;
      text-align: center;
      right: -28px;
      left: -28px;
      background: #485460;
      margin-top: -2px;
      font-size: 18px;
      line-height: 22px; }
    nav .navigation {
      display: none; }
  .banner .left,
  .banner .right {
    display: none !important; } }

@media (min-width: 960px) {
  .header .wrapper {
    margin: 0; }
    .header .wrapper .logo {
      margin-top: 34px; }
    .header .wrapper nav .navigation {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-justify-content: space-around;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      position: relative;
      background: transparent;
      font-size: 15px;
      line-height: 19px; }
      .header .wrapper nav .navigation li {
        border: none;
        margin-left: 10px; }
        .header .wrapper nav .navigation li:first-child {
          margin-left: 0; }
        .header .wrapper nav .navigation li a {
          color: #484c55;
          padding: 40px 22px; }
          .header .wrapper nav .navigation li a:hover {
            background: transparent;
            color: #49cbcd; }
      .header .wrapper nav .navigation .active {
        border-bottom: 3px solid #49cbcd; }
        .header .wrapper nav .navigation .active:hover a {
          color: #49cbcd;
          background: #f8f9fb; }
        .header .wrapper nav .navigation .active a {
          text-decoration: none;
          background: #f8f9fb;
          color: #49cbcd;
          cursor: default; }
    .header .wrapper nav .menu {
      display: none; }
  .main .banner .left,
  .main .banner .right {
    display: inline-block !important; }
  .main .banner .info-block h2 {
    font-size: 65px;
    line-height: 68px; }
  .main .banner .info-block p {
    font-size: 24px;
    line-height: 35px; }
  .main .team .co-workers {
    -ms-flex-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .btn-line {
    font-size: 25px; }
  .contact .flex-box {
    flex-wrap: nowrap; }
    .contact .flex-box .column-left {
      width: 40%; }
    .contact .flex-box .column-right {
      width: 48%; }
      .contact .flex-box .column-right .input-holder input {
        margin-left: 30px; }
        .contact .flex-box .column-right .input-holder input:first-child {
          margin-left: 0; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0  auto; }
  .header {
    padding: 0; }
  .col-box {
    -ms-flex-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .col-box li {
      margin: 0; }
  .contact .column-wrapper {
    padding: 0; } }
