@import "variables.scss";
@media (min-width: 450px) {
	.col-box li {
		width: 366px;
	}
	.contact-form {
		.flex-box {
			flex-wrap: nowrap;
		}
		.input-holder input {
			width: 48%;
		}
	}
}


@media (max-width: 959px) {
	nav {
		margin-top: 12px;
		&:hover .navigation {
			display: block;
			position: absolute;
			background: $white1; 
			top: 100%;
			text-align: center;
			right: -28px;
			left: -28px;
			margin-top: -2px;
			font-size: 18px;
			line-height: 22px;
		}
		.navigation {
			display: none;
		}
	}
	.banner {
		.left,
		.right {
			display: none !important; 
		}
	}
}

@media (min-width: 960px) {
	.header {
		.wrapper {
			margin: 0;
			.logo {
				margin-top: 34px;
			}
			nav {
				.navigation {
					display: -webkit-box; 
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex; 
					display: flex;
					-ms-flex-justify-content: space-around;
					-webkit-justify-content: space-around;
					justify-content: space-around;
					position: relative;
					background: transparent;
					font-size: 15px;
					line-height: 19px;
					&.fixed-menu {
						position: fixed;
						top: 0;
					    right: 0;
					    left: 0;
					    background: rgba(73, 203, 205, .9);
					    li a:hover {
					    	color: $white1;
					    }
					    .active {
					    	border-bottom: 3px solid $gray3;
					    	&:hover a { 
								color: $mediumTurquoise;
					    	}
					    }
					}
					li {
						border: none;
						margin-left: 10px;
						&:first-child {
							margin-left: 0;
						}
						a {
							color: $gray3;
							padding: 40px 22px; 
							&:hover {
								background: transparent;
								color: $mediumTurquoise;
							}
						}
					}
					.active {
						border-bottom: 3px solid  $mediumTurquoise;
						&:hover a {
							color: $mediumTurquoise;
							background: $superLightGray; 
						}
						a {
							text-decoration: none;
							background: $superLightGray;
							color: $mediumTurquoise;
							cursor: default;
						}
					}
				}
				.menu{
					display: none;
				}
			}
		}
	}
	.main {
		.banner {
			.left,
			.right {
				display: inline-block !important;
			}
			.info-block {
				h2 {
					font-size: 65px;
					line-height: 68px;
				}
				p {
					font-size: 24px;
					line-height: 35px;
				}
			}
		}
		.team .co-workers {
			-ms-flex-justify-content: space-between;
			-webkit-justify-content: space-between;
			justify-content: space-between;
			-ms-flex-wrap: nowrap;
			-webkit-flex-wrap: nowrap;
			-o-flex-wrap: nowrap;
			flex-wrap: nowrap;
		}
	}
	.btn-line {
		font-size: 25px;
	}
	.contact .flex-box  {
		flex-wrap: nowrap;
		.column-left {
			width: 40%;
		}
		.column-right {
			width: 48%;
			.input-holder input {
				margin-left: 30px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
		margin: 0  auto; 
	}
	.header {
		padding: 0;
	}
	.col-box {
		-ms-flex-justify-content: space-between;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-ms-flex-wrap: nowrap;
		-webkit-flex-wrap: nowrap;
		-o-flex-wrap: nowrap;
		flex-wrap: nowrap;
		li {
			margin: 0; 
		}
	}
	.contact .column-wrapper {
		padding: 0;
	}
}