$mediumTurquoise: #49cbcd;
$white1: #fff; 
$white2: #f1f1f1;
$superLightGray: #f8f9fb;
$gray1: #8c9299;
$gray2: #c1c1c1;
$gray3: #484c55;
$lightGray1: #eeeef0; 
$lightGray2: #ecf0f1;
$darkGray: #4e525d;
$lightCoral: #f46d6d;
$darkSkyBlue: #485460;
$lightSkyBlue: #788492;
$purple: #bface2;
$blue: #3b5997;
$deepSkyBlue: #3ec2f3;
$brown: #e44c41; 